/* Container styles */
.container {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A2647;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.Materialbar {
    font-size: 35px;
    color: #E3F6FF;
    text-align: center;
}

/* Material container styles */
.material-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

/* Info box styles */
.info-box {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #295F98;
    border-radius: 10px;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Paragraph inside the info box */
.info-box p {
    margin: 0 0 15px;
    font-size: 18px;
}

/* Button styles */
.info-button {
    padding: 10px 20px;
    background-color: #0A2647;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px; 
    display: block; 
    width: 200px; 
    margin-left: auto;
    margin-right: auto; 
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.info-button:hover {
    background-color: #133c77;
}
