.container {
    padding: 30px;
    max-width: 1200px; /* Optional: Set a max-width for better centering */
    margin: 0 auto; /* Centers the container */
}

body {
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: center; /* Center-aligns the content horizontally */
    align-items: center;
    background-color: #0A2647;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.Materialbar {
    font-size: 35px;
    color: #E3F6FF;
    text-align: center; /* Center-aligns the text within the header */
}

.info-box {
    width: 100%;
    padding: 20px;
    border: 2px solid #295F98;
    border-radius: 10px;
    background-color: #f5f7fa;
    margin-bottom: 20px;
}
